body {
    margin: 0%;
}

/* SEARCH BAR COMPONENT*/
.search-container {
    margin-bottom: 0rem;
}

.search-bar {
    margin-top: 2%;
}

/* NOMINATIONS COMPONENT */
.menu-button {
    margin-left: 58%;
}

.close-button {
    margin-top: 10%;
}

/* TOAST NOTIFICATION */
.toast-option {
    position: absolute;
    min-width: 100%;
    font-size: 1.25rem;
    z-index: 1000;
    text-align: center;
}